<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php?/$1 [L,QSA]
	AddType application/vnd.ms-fontobject .eot
	AddType font/truetype .ttf
	AddType font/opentype .otf
	AddType font/opentype .woff
	AddType image/svg+xml .svg .svgz
	AddEncoding gzip .svgz
	php_value memory_limit 512M
	php_value max_execution_time 8000
	<FilesMatch "\.(ttf|otf|eot|woff|svg)$">
			<IfModule mod_headers.c>
					Header set Access-Control-Allow-Origin: <origin>
			</IfModule>
	</FilesMatch>
</IfModule>